<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout을 상속-->

<div layout:fragment="content">
  <div class="title_line">카테고리(강의)</div>
  <aside class="aside_right">
    <a href="javascript:location.reload()">새로 고침</a>
  </aside>
  <div class="menu_line"></div>

  <div style="width:90%; height: 80px; margin: 0px auto; display: flex; align-items: center;">

    <form name="frm" th:object="${categoVO}" 
          method="post" action="/catego/create">
  
      <!-- hidden 은 유효성 검사를 않지 않음 -->
      <input type="hidden" name="count" th:value="1"/>
      <input type="hidden" name="seqcno" th:value="1"/>
      <input type="hidden" name="vis" th:value="N"/>
  
      <div style="margin: 5px auto; width: 30%; float: left;">
        <input type="text" name="name" placeholder="중분류를 입력하세요."
                th:value="${categoVO.name}" autofocus="autofocus"
                class="form-control fom-control-sm" style="width: 100%;"
                th:field="*{name}"/>
        <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('name'))}" th:text="${err}"></div>
        </div> 
      </div>
  
      <div style="margin: 5px auto; width: 30%; float: left;">
        <input type="text" name="namesub" placeholder="소분류를 입력하세요. 중분류는 '-'입력하세요." 
                th:value="${categoVO.namesub}" 
                class="form-control fom-control-sm" style="width: 100%;"
                th:field="*{namesub}"/>
        <div th:if="${#fields.hasErrors('namesub')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('namesub'))}" th:text="${err}"></div>
        </div>   
      </div>
  
      <div style="margin: 5px auto; width: 20%; float: left;">
        <input type="text" name="seqcno" placeholder="순서를 입력하세요." 
                th:value="${categoVO.seqcno}" 
                class="form-control fom-control-sm" style="width: 100%;"
                th:field="*{seqcno}"/>
        <div th:if="${#fields.hasErrors('seqcno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('seqcno'))}" th:text="${err}"></div>
        </div>   
      </div>
  
      <div style="margin: 5px auto; float: left; width: 20%;">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="button" onclick="location.href='/cate/list_all'" 
              class="btn btn-secondary btn-sm">취소</button>
      </div>
  
    </form> 
  </div>
  
  <!-- /catego/list_all_fragment.html 파일의 list_all_fragment 를 import -->
  <div th:replace="~{/catego/list_all_component::list_all_fragment}"></div>
  
</div>
</html>
